!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %link{href: "stylesheets/style.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../bower_components/vue/dist/vue.js"}
  %body
    #demo5
      %p {{nameList.pop().name}}
      %input{ "v-model" => "newName", "v-on" => "keyup:addName | key enter"}

    %script{rel: "javascript", src: "javascripts/demo5.js", type: "text/javascript"}
