!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %link{href: "stylesheets/style.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../bower_components/vue/dist/vue.js"}
  %body
    #demo4
      %ul
        %li{class: "{{done ? 'done' : ''}}", "v-repeat" => "todos", "v-on" => "click: done = !done"}
          /step①
          {{content | uppercase}}
          /step②
          / {{content | uppercase | lowercase}}
    %script{rel: "javascript", src: "javascripts/demo4.js", type: "text/javascript"}
