!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %link{href: "stylesheets/style.css", rel: "stylesheet", type: "text/css"}
    %script{src: "../bower_components/vue/dist/vue.js"}
  %body
    #demo3
      %ul
        /step①
        %li{"v-repeat" => "todos"}
          {{content}}
        /step②
        / %li{class: "{{done ? 'done' : ''}}", "v-repeat" => "todos"}
        /   {{content}}
        /step③
        / %li{class: "{{done ? 'done' : ''}}", "v-repeat" => "todos", "v-on" => "click: done = !done"}
        /   {{content}}
    %script{rel: "javascript", src: "javascripts/demo3.js", type: "text/javascript"}
