!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{href: "stylesheets/style.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../bower_components/vue/dist/vue.js"}
  %body
    #demo6
      %p {{fullName}}

    %script{rel: "javascript", src: "javascripts/six.js", type: "text/javascript"}

