<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <link href='stylesheets/tstyle.css' rel='stylesheet' type='text/css'>
    <script src='../bower_components/vue/dist/vue.js'></script>
  </head>
  <body>
    <section id='todoapp'>
      <header>
        <h1>VueTodo</h1>
        <input placeholder='What needs to be done?' v-model='newTodo' v-on='keyup:addTodo | key enter'>
      </header>
      <section id='main'>
        <input type='checkbox' v-model='allDone'>
        <p>{{remaining + ' todo'}}</p>
        <ul>
          <li v-class='editing: this == editedTodo,completed: completed' v-repeat='todos'>
            <div class='view'>
              <input type='checkbox' v-model='completed'>
              <label v-on='click: editTodo(this)' v-text='title'></label>
              <button v-on='click:deleteTodo(this)'></button>
            </div>
            <input class='edit' v-model='title' v-on='keyup:doneEdit(this) | key enter, keyup:cancelEdit(this) | key esc'>
          </li>
        </ul>
      </section>
      <section id='fotter'>
        <ul>
          <li>
            <a href='#/all' v-class='selected: filter == all'>ALL</a>
            <a href='#/active' v-class='selected: filter == active'>active</a>
            <a href='#/completed' v-class='selected: filter == completed'>completed</a>
          </li>
        </ul>
      </section>
    </section>
    <script rel='javascript' src='javascripts/a_todo.js' type='text/javascript'></script>
  </body>
</html>
